body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 1;
    display: flex;
    justify-content: space-around;
    background-color: #0f1bc9;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: block;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header, section, footer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

header h1 {
    color: #0800ec;
}

section a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0800ec;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

section a:hover {
    background-color: rgb(0, 0, 0);
}
body {
    text-align: center;
}
a.ver-anuncios {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0800ec;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    
}

a.ver-anuncios:hover {
    background-color: #0116fe;
}

body {
    background-image: url('background.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    color: #000000;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 1;
    display: flex;
    justify-content: space-around;
    background-color: #0f1bc9;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: block;
}